In [2]:
%matplotlib inline

import os
from pathlib import Path
import numpy
import datetime
import great_expectations as ge
import great_expectations.jupyter_ux

import pandas
pandas.set_option("display.max_rows",10)

# IPython

from IPython.display import display, Markdown
from IPython.display import Image

# Display multiple outputs per input cell.
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# http://stackoverflow.com/questions/21971449/how-do-i-increase-the-cell-width-of-the-jupyter-ipython-notebook-in-my-browser
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:80% !important; }</style>"))
    
%load_ext autoreload
%autoreload 2

2019-10-23T15:36:04-0400 - INFO - Great Expectations logging enabled at INFO level by JupyterUX module.

In [3]:
import pandas as pd
import numpy as np

In [34]:
df1 = pd.DataFrame(data={'Tag':[315043, 315043, 316166,316166,316166], 
      'A':[np.nan, 2061057, np.nan, np.nan, np.nan,], 
      'B':[np.nan, 2061057, np.nan, np.nan, np.nan,]})

df1

df2 = pd.DataFrame(data={'Tag':[315043, 315043, 316166,316166,316166], 
      'A':[np.nan, np.nan, np.nan, np.nan, np.nan,], 
      'B':[np.nan, np.nan, 1, np.nan, np.nan,]})

df2

      Tag          A          B
0  315043        NaN        NaN
1  315043  2061057.0  2061057.0
2  316166        NaN        NaN
3  316166        NaN        NaN
4  316166        NaN        NaN

      Tag   A    B
0  315043 NaN  NaN
1  315043 NaN  NaN
2  316166 NaN  1.0
3  316166 NaN  NaN
4  316166 NaN  NaN

In [18]:
df[['A','B']].notna().any()

A    True
B    True
dtype: bool

In [38]:
df1.groupby('Tag').filter(lambda x: (x['A'].notna().any()) | (x['B'].notna().any()))

      Tag          A          B
0  315043        NaN        NaN
1  315043  2061057.0  2061057.0

In [39]:
df2.groupby('Tag').filter(lambda x: (x['A'].notna().any()) | (x['B'].notna().any()))

      Tag   A    B
2  316166 NaN  1.0
3  316166 NaN  NaN
4  316166 NaN  NaN